/* body {
    background-color: red;

} */
#app {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

.add-tile {
    display: flex;
    flex-direction: ;
    background-color: blue;
    height: 20%;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 80%;
    
}