/* body {
    background-color: red;

} */
#app {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

.add-tile {
    display: grid;
    
    justify-content: center;
    flex-wrap: wrap;
    background-color: blue;

}

.internal-add-tile-flex-row-1 {
    display: flex;
}


.content {
    display: flex;
    flex-direction: column;
    background-color: brown;
    height: 100%;
}