/* body {
    background-color: red;

} */
#app {
    display: flex;
    flex-direction: column;
    background-color: #393E41;

}
.add-tile {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    /* flex-wrap: wrap; */
    background-color: #D3D0CB;
    
}

button {
    background-color: #E7BB41;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.left-part {
    display: flex;
    flex-direction: column;

}

.right-part {
    display: flex;
    flex-direction: column;
}




.content {
    display: flex;
    flex-direction: column;
    background-color: #44BBA4;

}

.display-content {
    display: flex;
    flex-direction: column;
    flex-direction: space-evenly;
    border: 3px solid black;
}

.choose-days-completed {
    display: flex;
    flex-direction: row;
}

img {
    height: 8%; 
    width: 8%; 
    object-fit: contain;
}