#app {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.add-tile {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    height: 200px;
}

.content {
    display: flex;
    
    background-color: darkolivegreen;
    height: fit-content;
    width: fit-content;
}