/* body {
    background-color: red;

} */
#app {
    display: flex;
    flex-direction: column;
    background-color: aqua;

}
.add-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap-around;
    background-color: blue;
    
}

.left-part {
    display: flex;
    flex-direction: column;

}

.right-part {
    display: flex;
    flex-direction: column;
}




.content {
    display: flex;
    flex-direction: column;
    background-color: brown;

}

.display-content {
    display: flex;
    flex-direction: column;
    flex-direction: space-evenly;
    border: 3px solid black;
}

.choose-days-completed {
    display: flex;
    flex-direction: row;
}

img {
    height: 8%; 
    width: 8%; 
    object-fit: contain;
}