#app {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.add-tile {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    height: 10x;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 100%;
    
}