/* body {
    background-color: red;

} */
#app {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

.add-tile {
    display: flex;
    flex-direction: row;
    fle
    flex-wrap: wrap;
    background-color: blue;

}


.content {
    display: flex;
    flex-direction: column;
    background-color: brown;
    height: 100%;
}